<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>Image Gallery</title>
</head>
<body>
	<h1> Snapshots</h1>
	<ul>
		<li>
			<a href="image/fireworks.jpg" onclick="showPic(this); return false;" title ="A fireworks display" > Fireworks</a>
		</li>

		<li>
			<a href="image/coffee.jpg" onclick="showPic(this); return false;" title ="A cup of black coffee" > Coffee</a>
		</li>

		<li>
			<a href="image/rose.jpg" onclick="showPic(this); return false;" title ="A red, red rose" > Rose</a>
		</li>

		<li>
			<a href="image/bigben.jpg" onclick="showPic(this); return false;" title ="A famous clock" > Big Ben</a>
		</li>

	</ul>
	<img id = “placeholder” src="image/placeholder.jpg" alt="my image gallery"/>

	<script src = "scripts/showPic.js" type="text/javascript"></script>
</body>
</html>